
  <h3><%= name %><h3>
  <ul>
    <li>State: <%=state%></li>
    <li>Party Affiliation: <%=party %></li>
    <li>Office Address: <%=address %></li>
    <li>Phone Number: <%=phone_number%></li>
    <li><a href='<%=web_page%>'>Website</a></li>
  </ul>
